@charset "UTF-8";
@import "https://p.typekit.net/p.css?s=1&k=krd2zmg&ht=tk&f=24553.24554.24558.24559.24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552.24580.24581.24588.24589&a=97854668&app=typekit&e=css";
@font-face {
    font-family: sofia-pro-soft;
    src: url(https://use.typekit.net/af/cdf40b/00000000000000007735a147/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/cdf40b/00000000000000007735a147/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/cdf40b/00000000000000007735a147/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro-soft;
    src: url(https://use.typekit.net/af/691282/00000000000000007735a149/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/691282/00000000000000007735a149/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/691282/00000000000000007735a149/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro-soft;
    src: url(https://use.typekit.net/af/54ce76/00000000000000007735a154/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/54ce76/00000000000000007735a154/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/54ce76/00000000000000007735a154/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro-soft;
    src: url(https://use.typekit.net/af/9f41be/00000000000000007735a157/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/9f41be/00000000000000007735a157/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/9f41be/00000000000000007735a157/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/773a22/00000000000000007735f996/30/l?subset_id=2&fvd=n9&v=3) format("woff2"), url(https://use.typekit.net/af/773a22/00000000000000007735f996/30/d?subset_id=2&fvd=n9&v=3) format("woff"), url(https://use.typekit.net/af/773a22/00000000000000007735f996/30/a?subset_id=2&fvd=n9&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/2cf3cc/00000000000000007735f991/30/l?subset_id=2&fvd=i9&v=3) format("woff2"), url(https://use.typekit.net/af/2cf3cc/00000000000000007735f991/30/d?subset_id=2&fvd=i9&v=3) format("woff"), url(https://use.typekit.net/af/2cf3cc/00000000000000007735f991/30/a?subset_id=2&fvd=i9&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 900;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/66e20c/00000000000000007735f993/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/66e20c/00000000000000007735f993/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/66e20c/00000000000000007735f993/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/bb213c/00000000000000007735f995/30/l?subset_id=2&fvd=n2&v=3) format("woff2"), url(https://use.typekit.net/af/bb213c/00000000000000007735f995/30/d?subset_id=2&fvd=n2&v=3) format("woff"), url(https://use.typekit.net/af/bb213c/00000000000000007735f995/30/a?subset_id=2&fvd=n2&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/ceaf1c/00000000000000007735f98f/30/l?subset_id=2&fvd=i2&v=3) format("woff2"), url(https://use.typekit.net/af/ceaf1c/00000000000000007735f98f/30/d?subset_id=2&fvd=i2&v=3) format("woff"), url(https://use.typekit.net/af/ceaf1c/00000000000000007735f98f/30/a?subset_id=2&fvd=i2&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 200;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/2e2409/00000000000000007735f990/30/l?subset_id=2&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/2e2409/00000000000000007735f990/30/d?subset_id=2&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/2e2409/00000000000000007735f990/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/0ab956/00000000000000007735f998/30/l?subset_id=2&fvd=i3&v=3) format("woff2"), url(https://use.typekit.net/af/0ab956/00000000000000007735f998/30/d?subset_id=2&fvd=i3&v=3) format("woff"), url(https://use.typekit.net/af/0ab956/00000000000000007735f998/30/a?subset_id=2&fvd=i3&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 300;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/19ced7/00000000000000007735f992/30/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/19ced7/00000000000000007735f992/30/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/19ced7/00000000000000007735f992/30/a?subset_id=2&fvd=n5&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/33e8a4/00000000000000007735f99b/30/l?subset_id=2&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/33e8a4/00000000000000007735f99b/30/d?subset_id=2&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/33e8a4/00000000000000007735f99b/30/a?subset_id=2&fvd=i5&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 500;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/c09857/00000000000000007735f98c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/c09857/00000000000000007735f98c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/c09857/00000000000000007735f98c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/262452/00000000000000007735f99a/30/l?subset_id=2&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/262452/00000000000000007735f99a/30/d?subset_id=2&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/262452/00000000000000007735f99a/30/a?subset_id=2&fvd=n6&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/2dec1e/00000000000000007735f997/30/l?subset_id=2&fvd=n1&v=3) format("woff2"), url(https://use.typekit.net/af/2dec1e/00000000000000007735f997/30/d?subset_id=2&fvd=n1&v=3) format("woff"), url(https://use.typekit.net/af/2dec1e/00000000000000007735f997/30/a?subset_id=2&fvd=n1&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 100;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/ed1bc0/00000000000000007735f98e/30/l?subset_id=2&fvd=i1&v=3) format("woff2"), url(https://use.typekit.net/af/ed1bc0/00000000000000007735f98e/30/d?subset_id=2&fvd=i1&v=3) format("woff"), url(https://use.typekit.net/af/ed1bc0/00000000000000007735f98e/30/a?subset_id=2&fvd=i1&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 100;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/36f509/00000000000000007735f994/30/l?subset_id=2&fvd=i6&v=3) format("woff2"), url(https://use.typekit.net/af/36f509/00000000000000007735f994/30/d?subset_id=2&fvd=i6&v=3) format("woff"), url(https://use.typekit.net/af/36f509/00000000000000007735f994/30/a?subset_id=2&fvd=i6&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 600;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro-condensed;
    src: url(https://use.typekit.net/af/8b3e11/00000000000000007735a150/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/8b3e11/00000000000000007735a150/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/8b3e11/00000000000000007735a150/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro-condensed;
    src: url(https://use.typekit.net/af/2fe268/00000000000000007735a153/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/2fe268/00000000000000007735a153/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/2fe268/00000000000000007735a153/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro-condensed;
    src: url(https://use.typekit.net/af/cf0830/00000000000000007735a162/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/cf0830/00000000000000007735a162/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/cf0830/00000000000000007735a162/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal
}

@font-face {
    font-family: sofia-pro-condensed;
    src: url(https://use.typekit.net/af/7da024/00000000000000007735a164/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/7da024/00000000000000007735a164/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/7da024/00000000000000007735a164/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal
}

.tk-sofia-pro-soft {
    font-family: sofia-pro-soft, sans-serif
}

.tk-sofia-pro {
    font-family: sofia-pro, sans-serif
}

.tk-sofia-pro-condensed {
    font-family: sofia-pro-condensed, sans-serif
}